# -*-conf-*-

*.elc
*~
\#*\#
.\#*
*.orig
*.rej
*.dat

# Time stamp files created by the Makefile's
*.tstamp

# matlab-autoload.el (matlab-load.el was the old name) is generated
matlab-autoload.el
matlab-load.el
